form {
    display: flex;
    flex-direction: column;
    margin: 26px auto;
    gap: 12px;
}
.logo {
    margin-top: 24px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin-bottom: 6px;
    line-height: 30px;
    font-weight: 600;
    font-size: 22px;
}
p {
    font-size: 15px;
    line-height: 22px;

}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 12px;
}

h1, p {
    text-align: center;
}

.input-md {
    border: 2px solid #DBDADE;
    border-radius: 24px;
    height: 62px;
    padding: 7px 16px;
    font-family: "Public Sans", sans-serif;
    line-height: 21px;
    transition: all .2s ease-in-out;
    font-weight: 500;
    text-indent: 22px;
}
.input-md::placeholder {
    color: #4b465c9f;
    font-size: 16px;
    font-weight: 400;
}
.input-md:focus {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(165,163,174,0.7);
    -moz-box-shadow: 0px 2px 4px 0px rgba(165,163,174,0.7);
    box-shadow: 0px 2px 4px 0px rgba(165,163,174,0.7);
    border-color: #1ac8f3;
    border-width: 2px;
    outline: none;
    
}
fieldset {
    position: relative;
}
fieldset i {
    position: absolute;
    display: block;
    left: 10px;
    top: 20px;
    color: #4b465c7c;
}
