<ion-content class="ion-padding">
  <h1>Explore os módulos do Lumo.</h1>
  <div class="filters">
    <ion-chip class="filter">💪 Físico</ion-chip>
    <ion-chip class="filter">🧠 Mental</ion-chip>
    <ion-chip class="filter">🙏 Espiritual</ion-chip>
    <ion-chip class="filter">😂 Diversão</ion-chip>
    <ion-chip class="filter">👥 Amigos</ion-chip>
  </div>
  
  <div class="card-list">
    <div class="card" (click)="navigateTo('/app/water-reminder')">
      <i class="ti ti-droplet-filled"></i>
      <div class="card-content">
        <h2>Lembrete de água</h2>
        <p>Nunca mais deixe de beber água por esquecer! Lumo irá te lembrar quando for preciso</p>
      </div>
    </div>
  </div>
 

</ion-content>