<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <i class="ti ti-map-question"></i>
      Explorar
    </ion-tab-button>
    <ion-tab-button tab="missions">
      <i class="ti ti-target"></i>
      Missões
    </ion-tab-button>
    <ion-tab-button tab="lumo" class="middle-tab">
      <i class="ti ti-robot"></i>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <i class="ti ti-search"></i>
      Procurar
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <i class="ti ti-user"></i>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>