.middle-tab {
    background-color: blue;
    border-radius: 24px;
    color: white;
}
.middle-tab i::before {
    font-size: 34px;
}
ion-tab-bar {
    border-radius: 24px;
    padding: 10px 0;
    border: 2px solid #DBDADE;
    max-width: 95%;
    margin: 0 auto 25px auto;
    width: 100%;
}