/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    color: #4B465C;
    font-family: "Public Sans", sans-serif;
}

h1 {
    color: #22282F;
    font-weight: 600;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
button {
    font-size: 14px;
}
.btn-primary {
    background-color: #1ac8f3;
    border-radius: 24px;
    text-align: center;
    width: 100%;
    padding: 20px 26px;
    color: white;
    outline: none;
    border: none;
    font-family: "Public Sans", sans-serif;
}

.btn-secondary {
    background-color: white;
    border-radius: 24px;
    text-align: center;
    width: 100%;
    padding: 20px 26px;
    color: #1ac8f3;
    outline: none;
    border: 2px solid #1ac8f3;
    font-family: "Public Sans", sans-serif;
}

.ti::before {
    font-size: 22px;
}